#gambar
{
    width: 200px;
}
img
{
    border-radius: 30%;
}
span
{
    color:blueviolet;
    font-size: larger; 
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tabel
{
    border: 3px solid;
    width: 100%;
    background-color: aqua;
}
body
{
    background-color: pink;
}
#forem
{
    background-color: silver;
}
input[type=text]
{
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}
textarea
{
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}
.flex-container
{
    background: skyblue;
    padding: 20px;
    border: 4px solid orange;
    height 48px;
    gap: 10px;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
}
.item
{
    background: peachpuff;
    position: relative;
    border: 4px solid green;
    height: 48px;
    flex: 1;
    padding: 7px;
    box-sizing: content-box;
}

.teks
{
    height: 100%;
    width: 100%;
    /* background-color: brown; */
}
h3
{
    text-align: center;
    background-color: skyblue;
    
}
