#gambar
{
    width: 200px;
}
img
{
    border-radius: 30%;
}
span
{
    color:blueviolet;
    font-size: larger; 
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tabel
{
    border: 3px solid;
    width: 100%;
    background-color: aqua;
}
body
{
    background-color: pink;
}
#forem
{
    background-color: silver;
}
input[type=text]
{
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}
textarea
{
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}