.kotak{
    width: 70px;
    height: 70px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
#pembuatanKotak{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}
#uigame
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-flow: column;
    box-sizing: content-box;
    width: 350px;
    align-content: center;
    margin: auto;
    background-color: rgb(11, 178, 219);

}
#restartButton{
    background-color: #000000; 
    border: none;
    color: white;
    padding: 15px 32px;
    align-content: center;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

body
{
    background-color: rgb(19, 46, 40);
}